<div class="modal-header py-2 align-items-center">
    <div class="modal-heading">
        <div class="modal-title text-uppercase font-weight-bold">{{'TEXT_CHANGE_PASSWORD'|translate}}
        </div>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="detailForm">
        <div class="form-group">
            <label for="input-oldPassword">{{'oldPassword' | translate }}</label>
            <input type="password" class="form-control" formControlName="oldPassword" id="input-oldPassword"
                [ngClass]="{ 'is-invalid' : isInvalid(oldPassword) }">
            <div *ngIf="isInvalid(oldPassword)">
                <small class="alert alert-danger p-1" *ngIf="oldPassword.errors?.required">
                    {{'oldPassword' | translate}} {{'FIELD_REQUIRED' | translate}}
                </small>
                <small class="alert alert-danger p-1" *ngIf="oldPassword.errors?.pattern">
                    {{'TEXT_INVALID_PASSWORD_ERROR' | translate}}
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="input-newPassword">{{'newPassword' | translate }}</label>
            <input type="password" class="form-control" formControlName="newPassword" id="input-newPassword"
                [ngClass]="{ 'is-invalid' : isInvalid(newPassword) }">
            <div *ngIf="isInvalid(newPassword)">
                <small class="alert alert-danger p-1" *ngIf="newPassword.errors?.required">
                    {{'newPassword' | translate}} {{'FIELD_REQUIRED' | translate}}
                </small>
                <small class="alert alert-danger p-1" *ngIf="newPassword.errors?.pattern">
                    {{'TEXT_INVALID_PASSWORD_ERROR' | translate}}
                </small>
            </div>
        </div>
        <div class="input-group form-group">
            <label for="input-confirmPassword">{{'FIELD_CONFIRM_PASSWORD' | translate }}</label>
            <div class="input-group">
                <input type="{{isShown ? 'text':'password'}}" class="form-control" formControlName="confirmPassword"
                    id="input-confirmPassword" [ngClass]="{ 'is-invalid' : isInvalid(confirmPassword) }">
                <div class="input-group-append">
                    <span class="input-group-text border border-rounded bg-transparent py-0">
                        <button class="bg-transparent reveal border-0 cs_svg p-0" type="button"
                            (click)="this.isShown =!this.isShown">
                            <i csSvgIcon="cs_eye" ngbTooltip="Show" *ngIf="!this.isShown"></i>
                            <i csSvgIcon="cs_eye_slash" ngbTooltip="Hide" *ngIf="this.isShown"></i>
                        </button>
                    </span>
                </div>
                <div class="clearfix w-100" *ngIf="isInvalid(confirmPassword)">
                    <small class="alert alert-danger p-1" *ngIf="confirmPassword.errors?.required">
                        {{'FIELD_CONFIRM_PASSWORD' | translate}} {{'FIELD_REQUIRED' | translate}}
                    </small>
                    <small class="alert alert-danger p-1" *ngIf="confirmPassword.errors?.notEqual">
                        {{'password' | translate}} {{'TEXT_VALUE_NOT_SAME' | translate}}
                    </small>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-start border-0">
    <button type="submit" class="btn rounded-0 btn-primary form-button mr-2" (click)="onSubmit()"
        [disabled]="submitted || !detailForm.dirty">
        <span *ngIf="submitted" class="spinner-border spinner-border-sm"></span>
        {{'BUTTON_SAVE' | translate }}</button>
    <button type="button" class="btn rounded-0 btn-primary form-button" (click)="onCancel()">{{'BUTTON_CANCEL' |
        translate }}</button>
</div>