<!-- <dx-popup [width]="300" [height]="280" [showTitle]="true" title="Example Popup" [dragEnabled]="true" position="center"
    [closeOnOutsideClick]="true" [showCloseButton]="true" container=".dx-viewport" [(visible)]="isPopupVisible"
    [resizeEnabled]="false"> -->
<!-- <div>
      <p>
        Full Name:
        <span>ABC</span>
      </p>
      <p>
        Birth Date:
        <span>01-01-0001</span>
      </p>
      <p>
        Address:
        <span>Baroda</span>
      </p>
    </div> -->
<!-- </dx-popup> -->

<!-- <p>preview-popup works!</p>
<button type="submit"  (click)="onCancel()" class="btn btn-secondary">close </button> -->
<!-- <app-preview-popup selectedColor="currentColor"></app-preview-popup> -->

<div class="modal-header">
    <h1 class="modal-title fs-6 text-primary" id="exampleModalLabel">Preview</h1>
    <button type="button" (click)="onCancel()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div id="preview" class="card bg-white border rounded-3 example-1 scrollbar-ripe-malinka">
        <div class="position-relative">
            <!-- <img src="../../../../assets/images/dummy-prof-pic.png" class="card-img-top img-fluid" alt="..."> -->
            <!-- <img [src]=" './../../../assets/images/dummy-prof-pic.png'" class="card-img-top img-fluid" alt="..."> -->
            <img [src]=" previewData && previewData.profile_photo ? previewData.profile_photo : './../../../assets/images/dummy-prof-pic.png'"
                class="card-img-top img-fluid" alt="...">
            <!-- <img [src]="previewData.profile_photo" class="card-img-top img-fluid" alt="Company Logo" /> -->
            <div class="position-absolute w-100 overflow-hidden shape-svg bottom-0">
                <i>
                    <svg [ngStyle]="{fill:previewData.color_theme}" xmlns="http://www.w3.org/2000/svg" height="173"
                        viewBox="0 0 400 173" fill="none">
                        <path
                            d="M400 108.97V14.175C281.883 -50.4307 199.328 126.48 139 131.311C238.489 168.098 295.656 163.074 400 108.97Z" />
                        <path
                            d="M0 41C122.122 145.525 260.523 190.824 400 103.509V115.912C252.055 185.367 163.24 172.081 0 51.9143V41Z" />
                        <path d="M0 48C122.122 152.525 246 190.5 400 110.509V173H0V48Z" fill="white" />
                    </svg>
                </i>
                <div class="position-absolute right-10 bottom-40 text-end w-50 overflow-hidden">
                    <img [src]="previewData.company_logo" alt="" class="img-fluid w-50">
                </div>
            </div>
        </div>


        <div class="card-body">
            <h5 class="text-dark text-center">{{previewData.card_name}}</h5>
            <!-- <p class="text-dark text-center font-weight-500 text-black">Precident / CEO - INNRLY</p>  -->
            <div class="d-grid">
                <div class="d-flex py-2" *ngIf="previewData.email">
                    <div>
                        <a class="rounded-circle p-3" [ngStyle]="{'background-color': previewData.color_theme}">
                            <i csSvgIcon="cs_email"></i>
                        </a>
                    </div>
                    <div class="ms-3">
                        <p class="font-weight-500">{{previewData.email}}</p>
                    </div>
                </div>
                <div class="d-flex py-2" *ngIf="previewData.mobile_number">
                    <div>
                        <a class="rounded-circle p-3" [ngStyle]="{'background-color': previewData.color_theme}">
                            <i csSvgIcon="cs_phone"></i>
                        </a>
                    </div>
                    <div class="ms-3">
                        <p class="font-weight-500">{{previewData.mobile_number}}</p>
                    </div>
                </div>
                <div class="d-flex my-2">
                    <div>
                        <a class="rounded-circle p-3" [ngStyle]="{'background-color': previewData.color_theme}"
                            *ngIf="previewData.address">
                            <i csSvgIcon="cs_loaction"></i>
                        </a>
                    </div>
                    <div class="ms-3">
                        <p class="font-weight-500">{{previewData.address}}</p>
                    </div>
                </div>
                <div class="d-flex my-2" *ngIf="previewData.personal_website">
                    <div>
                        <a class="rounded-circle p-3" [ngStyle]="{'background-color': previewData.color_theme}">
                            <i csSvgIcon="cs_web"></i>
                        </a>
                    </div>
                    <div class="ms-3">
                        <p class="font-weight-500">{{previewData.personal_website}}</p>
                    </div>
                </div>
                <div class="d-flex my-2" *ngIf="previewData.facebook_link">
                    <div>
                        <a class="rounded-circle p-3" [ngStyle]="{'background-color': previewData.color_theme}">
                            <i csSvgIcon="cs_facebook"></i>
                        </a>
                    </div>
                    <div class="ms-3">
                        <p class="font-weight-500">{{previewData.facebook_link}}</p>
                    </div>
                </div>
                <div class="d-flex my-2" *ngIf="previewData.twitter_link">
                    <div>
                        <a class="rounded-circle p-3" [ngStyle]="{'background-color': previewData.color_theme}">
                            <i csSvgIcon="cs_twitter"></i>
                        </a>
                    </div>
                    <div class="ms-3">
                        <p class="font-weight-500">{{previewData.twitter_link}}</p>
                    </div>
                </div>
                <div class="d-flex my-2" *ngIf="previewData.instagram_link">
                    <div>
                        <a class="rounded-circle p-3" [ngStyle]="{'background-color': previewData.color_theme}">
                            <i csSvgIcon="cs_instagram"></i>
                        </a>
                    </div>
                    <div class="ms-3">
                        <p class="font-weight-500">{{previewData.instagram_link}}</p>
                    </div>
                </div>
                <div class="d-flex my-2" *ngIf="previewData.linkedin_link">
                    <div>
                        <a class="rounded-circle p-3" [ngStyle]="{'background-color': previewData.color_theme}">
                            <i csSvgIcon="cs_linkedin"></i>
                        </a>
                    </div>
                    <div class="ms-3">
                        <p class="font-weight-500">{{previewData.linkedin_link}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center p-3">
        <button type="button" class="btn btn-primary round_slider btn-sm" value="convert" (click)="convertToPDF()">SAVE
            CONTACT</button>
    </div>
</div>