<!-- <dx-popup [width]="300" [height]="280" [showTitle]="true" title="Example Popup" [dragEnabled]="true" position="center"
    [closeOnOutsideClick]="true" [showCloseButton]="true" container=".dx-viewport" [(visible)]="isPopupVisible"
    [resizeEnabled]="false"> -->
    <div>
      <p>
        Full Name:
        <span>ABC</span>
      </p>
      <p>
        Birth Date:
        <span>01-01-0001</span>
      </p>
      <p>
        Address:
        <span>Baroda</span>
      </p>
    </div>
  <!-- </dx-popup> -->