<div class="row">
    <div class="col-md-6 col-sm-12 section-left d-none d-xl-block">
        <div class="row align-items-center h-100 justify-content-center position-relative">          
          <img class="img-fluid" src="../../../../assets/images/forget-pwd-confirm.png" />
        </div>
    </div>
    <div class="col-xl-6 col-sm-12 justify-content-end section-border-right bg-white">
        <div class="py-5">
            <div class="d-lg-flex d-block">
                <div class="container m-auto align-items-center justify-content-center p-3">
                    <!-- <div class="d-flex justify-content-center">
                        <div class="svg_circle text-success mb-5 text-center">
                            <i csSvgIcon="cs_check_circle"></i>
                        </div>
                    </div> -->
                    <p class="pb-5 text-center"><img class="img-fluid" src="../../../../assets/images/logo-innrly.png" /></p>
                    <div class="py-2 text-center">{{'INSTRUCTION_ON_HOW_TO_RESET_YOUR_PASSWORD_AND_SENT_TO_ASSOCIATED_EMAIL'|translate}}</div>
                    <div class="py-3 text-center">{{'CHECK_EMAIL_FOLLOW_INSTRUCTIONS_TO_RESET_PWD'|translate}}</div>
                    <div class="d-flex justify-content-center mt-5">
                        <div class="text-center text-primary small pt-3 pl-1">
                            <a class="cursor-pointer" (click)="goToLogin()">{{'BUTTON_SIGN_IN'|translate}} </a>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
  </div>