<div>
  <div>User Detail</div>
  <div [ngSwitch]="dataStatus">
    <cs-loading *ngSwitchCase="dataStatusEnum.Fetching">
    </cs-loading>
    <div *ngSwitchCase="dataStatusEnum.DataAvailable">
      <div class="container">
        <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" csFocusFirstInvalidField>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="input-email">{{'email' | translate }}</label>
                    <input type="text" autocomplete="off" class="form-control" formControlName="email" id="input-email" placeholder="{{'email' | translate }}">

                    <div *ngIf="isInvalid(email)">
                      <small class="text-danger" *ngIf="email.errors?.required">
                        {{'email' | translate}} {{'FIELD_REQUIRED' | translate}}
                      </small>
                      <small class="text-danger" *ngIf="email.errors?.email">
                        {{'FIELD_EMAIL_ERROR' | translate}}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="input-fullName">{{'fullName' | translate }}</label>
                    <input type="text" autocomplete="off" class="form-control" formControlName="fullName" id="input-fullName" placeholder="{{'fullName' | translate }}">
                    <div *ngIf="isInvalid(fullName)">
                      <small class="text-danger" *ngIf="fullName.errors?.required">
                        {{'fullName' | translate}} {{'FIELD_REQUIRED' | translate}}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="input-title">{{'title' | translate }}</label>
                    <input type="text" autocomplete="off" class="form-control" formControlName="title" id="input-title" placeholder="{{'title' | translate }}">
                    <div *ngIf="isInvalid(title)">
                      <small class="text-danger" *ngIf="title.errors?.required">
                        {{'title' | translate}} {{'FIELD_REQUIRED' | translate}}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="input-phoneNumber">{{'phoneNumber' | translate }}</label>
                    <input type="text" autocomplete="off" class="form-control" formControlName="phoneNumber" id="input-phoneNumber"
                      placeholder="{{'phoneNumber' | translate }}">
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="input-roles">{{'userRoles' | translate }}</label>
                      <ng-select [items]="roles"
                        [selectOnTab]="true"
                        [multiple]="true"
                        bindLabel="name"
                        labelForId="input-roles"
                        placeholder="{{'TEXT_SELECT' | translate }} {{'userRoles' | translate }}"
                        clearAllText="{{'TEXT_CLEAR' | translate }}"
                        formControlName="userRoles">
                      </ng-select>
                    </div>
                  </div>
              </div>
            </div>


            <div class="col-sm-6">
              <!-- <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <input type="file" id="image" style="display: none;" (change)="onFileChange($event)">
                          <button type="button" class="btn btn-primary" onclick="document.getElementById('image').click();">
                              {{'UPLOAD_IMAGE' | translate }}...
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                            <img *ngIf="imageData" src="{{imageData}}" width="300" />
                          </div>
                      </div>
                    </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button type="submit" class="btn rounded-0 btn-primary form-button mr-2" [disabled]="submitted">{{'BUTTON_SAVE' |
                translate }}</button>
              <button type="button" class="btn rounded-0 btn-default form-button" (click)="onCancel()">{{'BUTTON_CANCEL' |
                translate }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <cs-error-detail *ngSwitchCase="dataStatusEnum.Error">
    </cs-error-detail>
  </div>
</div>